@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

#container {
  max-width: 800px;
  margin: auto;
}

h1 {
  font-family: Roboto;
  font-size: 1.4em;
}

#file-loader {
  display: none;
}

#file-label {
  margin: auto;
  margin-top: 50px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eaeaea;
  outline-offset: -10px;
  outline: 2px dashed black;
  padding: 20px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  height: 200px;
}

@keyframes ondrag {
  from {
    background-color: #eaeaea;;
  }
  to {
    background-color: #567adf;
  }
}

@keyframes ondragout {
  from {
    background-color: #eaeaea;;
  }
  to {
    background-color: #567adf;
  }
}

#file-label.ondrag {    
  background-color: #567adf;
  animation-name: ondrag;
  animation-duration: 2s;
}

#fileUploadMessage {
  height: 64px;
}

li.response {
  margin-top: 20px;
  list-style-type: none;
}

li.signature {
  list-style-type: none;
  background-color: #b5e7a0;
  padding: 6px;
  margin: 12px;
  border-radius: 6px;
}

li.signature.invalid {
  background-color: #eb7c68;
}